<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.yx.dao.StudentMapper">
  
  <select id="findByStuIdAndName"  parameterType="Student" resultType="Student">
  	select
		*
	from
		student s
	where 
	 	s.stu_id = {#stuId}  and   s.stu_name ={#stuName}	
  </select>
  
  <select id="findById"  parameterType="Student" resultType="Student">
  	select
		*
	from
		student s
	where 
	 	s.id = {#id}	
  </select>
  
  
</mapper>